config.json
app.yaml
package.json
package-lock.json
tempQuotesList.txt
incommingcsquotes.txt
/user_code/quotes.json
otherusers
user_code/Brendan.js
CSBot.code-workspace
.env
logs/professors/*
logs/
logs/professors/jiang.txt
logs/professors/jiang.txt
logs/professors/kashliev.txt
logs/professors/maniccam.txt
logs/professors/panja.txt
logs/professors/poh.txt
logs/professors/tehranipour.txt
events/
/events/